[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"owlready2" = "*"

[dev-packages]
cython = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"


[scripts]
start = "./owl/panosc_owl.py"